@import "variables.scss";

.header {
  height: 62px;
  width: 1200px;
  position: relative;

  #loginRegisterBtn {
    position: absolute;
    right: 125px;
    top: 25px;
  }

  .logo {
    float: left;
    width: 149px;
    height: 72px;
    margin-top: -10px;
    background-image: url(./../../images/v2/footer_logo1.png);
  }

  .vertical_seperator {
    float: left;
    width: 1px;
    height: 30px;
    margin: 16px 0 0 20px;
    background-color: $black;
  }

  .title {
    float: left;
    width: 400px;
    height: 45px;
    padding-top: 17px;
    margin-left: 20px;
    font-family: '微软雅黑';
    font-size: 20px;
  }
}